// Variables
@ui-color-primary-100: #d6e5f6;
@ui-color-primary-200: #5e729d;
@ui-color-primary-300: #5c6484;
@ui-color-primary-400: #283466;
@ui-color-white: #fff;
@ui-color-shadow: #343333;
@base-size: 20px;
@font-size: 50px;
@margin-size: 10px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: sans-serif;
}

.position-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: bold;
  font-size: @font-size;
  letter-spacing: 0.02em;
  padding: 0 0 @margin-size 0;
  .position-center;
  flex-direction: column;
  color: @ui-color-white;
  margin: @font-size;
}

body {
  min-height: 80vh;
  .position-center;
  background-color: @ui-color-primary-400;
  margin: @margin-size;
}

.container {
  width: 550px;
  height: min-content;
  background-color: @ui-color-white;
  border-radius: 10px;
  padding: 35px;
  margin: 6px;
}

.search-box {
  width: 100%;
  height: min-content;
  .position-center;
  justify-content: space-between;
}

button {
  width: @base-size*4;
  height: 70px;
  background-color: @ui-color-primary-200;
  /* opacity: 80%; */
  border-radius: 50%;
  cursor: pointer;
  font-size: @base-size;
  margin-left: @base-size;
  box-shadow: 0 5px @ui-color-primary-400;

  &:hover {
    background-color: @ui-color-primary-300;
  }

  &:active {
    background-color: @ui-color-primary-300;
    box-shadow: 0 2px @ui-color-shadow;
    transform: translateY(4px);
  }
}

.search-box img {
  height: @font-size;
  width: @font-size;
}
input {
  width: 85%;
  font-size: 30px;
  color: @ui-color-primary-400;
  background-color: @ui-color-primary-100;
  padding: 20px 30px;
  border-radius: 14px;
  text-transform: capitalize;

  &::placeholder {
    color: @ui-color-primary-400;
  }
}

/* cardul care contine 2 div-uri image si detaliile */
.weather-card {
  .position-center;
  flex-direction: column;
  margin: @base-size;
  display: none;

  /* imaginea asociata tipului de vreme */
  img {
    width: 60%;
    margin: 20px;
    padding: 10px;
  }

  /* detaile legate de vreme */
  .weather-box {
    /* margin-block: 20px; */
    text-align: center;
  }

  .temperature {
    font-size: @font-size;
    font-weight: 650;
    position: relative;
  }

  sup {
    font-size: 60px;
    position: absolute;
  }
}

.description {
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 10px;
}

#date {
  font-weight: 700;
}

.weather-details {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 15px;

  .humidity,
  .wind {
    .position-center;
    padding: 50px;
  }

  i {
    font-size: 36px;
    padding: 5px;
    color: @ui-color-primary-400;
  }
}

.location-not-found {
  .position-center;
  flex-direction: column;
  margin: 50px;
  padding: 10px;
  color: @ui-color-primary-400;
  display: none;
}

@media only screen and (max-width: 600px) {
  body {
    .position-center;
    background-color: @ui-color-primary-400;
  }

  .title {
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 0.02em;
    // padding: 0 0 5px 0;
    .position-center;
    flex-direction: column;
    color: @ui-color-white;
    margin-bottom: 1vw;
  }

  .container {
    width: 100%;
    background-color: @ui-color-white;
    border-radius: 10px;
    // padding: 35vw;
    margin-left: 0vw;
  }

  .search-box input {
    width: 85%;
    font-size: 20px;
    color: @ui-color-primary-400;
    background-color: @ui-color-primary-100;
    padding: 20px 30px;
    border-radius: 14px;
    text-transform: capitalize;
  }
}
